.btn {
	&:link,
	&:visited {
		text-decoration: none;
		font-size: 3.5rem;
		text-transform: uppercase;
		border-radius: 10rem;
		padding: 1.5rem 4rem;;
		display: inline-block;
		transition: all .2s;
		backface-visibility: hidden;
		position: relative;
		outline-style: none;

		@include atSmall {
			font-size: 2rem;
		}

		@include atMedium {
			font-size: 1.6rem;
		}
	}

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
	}

	&:active {
		transform: translateY(-1px);
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
	}

	&::after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1; 
		transition: all .4s;
	}

	&:hover::after {
		transform: scaleX(1.4) scaleY(1.5);
		opacity: 0;
	}

	&--white {
		color: #777;
		background: #fff;
	}

	&--white::after {
		background: #fff;
	}

	&--animated {
		animation: bottomToTop 1s ease-out .75s;
		animation-fill-mode: backwards;
	}
}

