
.header {
	height: 95vh;
	position: relative;
	background-size: cover;
	background-position: top;
	clip-path: polygon(0 0, 100% 0%, 100% 85vh, 0% 100%);
	background-image: linear-gradient(to right bottom, rgba($light-green, .5), rgba($dark-green, .5)), url('../img/hero.jpg');

	&__logo-box {
		position: absolute;
		top: 6rem;
		left: 4rem;

		@include atMini {
			left: 5rem;
		}

		@include atSmall {
			left: 6rem;
		}
	}

	&__logo {
		height: 4rem;

		@include atMini {
			height: 6rem;
		}

		@include atSmall {
			height: 3.5rem;
		}
	}

	&__text-content {
		position: absolute;
		text-align: center;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
	}	
 
	&__heading {
		color: #fff;
		text-transform: uppercase;
		backface-visibility: hidden;

		&-main { 
			display: block;
			font-size: 9rem;
			font-weight: 400;
			letter-spacing: 2.5rem;
			animation: 1s moveInRight ease-out;

			@include atMini {
				font-size: 8rem;
			}

			@include atSmall {
				font-size: 8.5rem;
				font-weight: 400;
				letter-spacing: 3.5rem;
			}

			@include atMedium {
				font-size: 6.3rem;
				font-weight: 400;
				letter-spacing: 3.5rem;
			}
		}
		
		&-sub {
			display: block;
			font-size: 4.5rem;
			font-weight: 700;
			letter-spacing: 2rem;
			margin-bottom: 10rem;
			animation: 1s moveInLeft ease-out;

			@include atSmall {
				font-size: 3rem;
				font-weight: 700;
				letter-spacing: 1.8rem;
			}

			@include atMedium {
				font-size: 2rem;
				font-weight: 700;
				letter-spacing: 1.8rem;
			}
		}
	}	
} 